<!-- footer -->
<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-credit-card"></i>
                    <h2>Pagá con tarjeta o en efectivo</h2>
                    <p>Tenés cuotas sin interés con tarjeta o paga en efectivo. ¡Siempre es seguro!</p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-gift"></i>
                    <h2>Envío gratis desde $ 1.999</h2>
                    <p>Solo por estar registrado en Deporama tenés envíos gratis en miles de productos.</p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-user-shield"></i>
                    <h2>Seguridad, de principio a fin</h2>
                    <p>¿No te gusta? ¡Devolvelo! No hay nada que no puedas hacer, porque estás
                        siempre protegido.</p>
                </article>
            </div>
        </div>
    </div>
    <div class="nombres">
        <p>
            Juan Zimmermann
        </p>

        <p class="redes">
            Seguinos en Nuestras redes:
            <br>
            <strong>@Deporama_arg</strong>
            
            <br>
            En Instagram y Twitter
        </p>

        <p>
            Manuel Chopourian
        </p>



    </div>
</footer>
<!-- /footer -->
</body>

</html>