
<%- include('./partials/header')  %>
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div class="iniciarSesion">
			<div class="datosInicio">
			<form class="" action="" method="POST">
				<p> <label for="Nombre de Usuario"></label>
					<input type="text" placeholder="Nombre de Usuario">
				</p>
				<p> <label for="Email"></label>
					<input type="email" placeholder="Email">
				</p>
				<p> <label for="Contraseña"></label>
					<input type="password" placeholder="Contraseña">
				</p>
				</div>
				<button type="submit">Iniciar Sesion</button>
				
			</form>
			</div>


	<%- include('./partials/footer')  %> 
