<%- include('./partials/header')  %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Cambiar Contraseña</h2>

			</div>
			
			<!-- Show the "ultimos" products -->

			<div class="iniciarSesion">
				<div class="datosInicio">
				<form class="" action="" method="POST">
				
					<p> 
						<% if(locals.errors){ %>
							<p class="alerta"><%= errors.register %></p>
						<% } %>
						<label for="Email"></label>
						<input type="password" placeholder="Contraseña Actual" name="expassword">
					</p>
					<p> <label for="Contraseña"></label>
						<input type="password" placeholder="Nueva Contraseña" name="password">
					</p>
					<p> <label for="Contraseña"></label>
						<input type="password" placeholder="Confirmar Nueva Contraseña" name="repassword">
					</p>
					</div>
					<button type="submit">Confirmar Cambios</button>
					
				</form>
				</div>
			



	<%- include('./partials/footer')  %> 
