
<%- include('./partials/headerLogueado')  %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form class="" action="" method="POST">
				<p> <label for="nombre" ></label>
					<input type="text" placeholder="Nombre">
				</p>
				<p> <label for="Imagen"></label>
					<input type="text" placeholder="Insertar URL de imagen">
				</p>
				<p> <label for="Telefono"></label>
					<input type="tel" placeholder="Telefono">
				</p>
				<p> <label for="Fecha De Creacion"></label>
					<input type="date" placeholder="Fecha de Creacion">
				</p>
				<button type="submit">Publicar</button>
				
			</form>


	<%- include('./partials/footer')  %> 
