<%- include('./partials/header')  %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div class="agregarProducto">
			<form class="" action="/product/add" method="POST" enctype="multipart/form-data">
				<p>
					<% if(locals.errors){ %>
						<p class="alerta" > <%= errors.productAdd %><p>
					<% } %>
					<input type="text" placeholder="Nombre del Producto" name="nombre">
				</p>
				<p> 
					<input type="text" placeholder="Marca" name="marca">
				</p>
				<p> 
					<input type="text" placeholder="Descripcion del Producto" name="descripcion" >
				</p>
				<p>
					<p class="fecha">Imagen del Producto:</p>
					<input type="file" placeholder="Insertar URL de imagen" name="url_imagen_producto" accept="image/*">
				</p>
				

				<button type="submit" class="registrado-boton">Publicar</button>
				
			</form>
			</div>

	<%- include('./partials/footer')  %> 
