<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="./images/logo-mercado-liebre.jpg" />

	<title> Mercado Liebre Argentina</title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="stylesheets/app.css">
</head>

<body>
	<%- include('./partials/headerLogueado')  %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar mi perfil</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form class="" action="" method="POST">
				<p> <label for="Cambian Nombre de Usuario" ></label>
					<input type="text" placeholder="Cambiar Nombre de Usuario">
				</p>
				<p> <label for="Cambiar Imagen de perfil"></label>
					<input type="url" placeholder="URL de nueva imagen del perfil">
				</p>
				<p> <label for="Cambiar Telefono"></label>
					<input type="tel" placeholder="Cambiar Telefono">
				</p>
				<p> <label for="Cambiar Email"></label>
					<input type="email" placeholder="Cambiar Email">
				</p>
				<p> <label for="Nueva Contrase単a"></label>
					<input type="password" placeholder="Nueva Contrase単a">
				</p>
				<p> <label for="Confirmar Contrase単a"></label>
					<input type="password" placeholder="Confirmar Nueva Contrase単a">
				</p>
				<button type="submit">Confirmar Cambios</button>
				
			</form>



	<%- include('./partials/footer')  %> 
</body>

</html>