<%- include('./partials/header')  %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form class="registrado" action="/register" method="POST">
				<div class="datos">
				<div class="dataRegistro">
				<p> 
					<input type="text" placeholder="Nombre" name="nombre">
				</p>
				<p> 
					<input type="text" placeholder="Apellido" name="apellido">
				</p>
				<p>
					<input type="text" placeholder="Nombre de Usuario" name="nombre_usuario">
				</p>
				<p> 
					<input type="tel" placeholder="Telefono" name="telefono">
				</p>
				<p> 
					<input type="email" placeholder="Email" name="email">
				</p>
				<p> 
					<input type="password" placeholder="Contraseña" name="password">
				</p>
				<p> <p class="fecha">Fecha de Nacimiento:</p>
					<input type="date" placeholder="Fecha de Nacimiento" name="fecha_nacimiento">
				</p>

				</div>

				</div>
				<button type="submit" class="registrado-boton">Crear Cuenta</button>
				
			</form>

	<%- include('./partials/footer')  %> 
