<%- include('./partials/header')  %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form class="registrado" action="" method="POST">
				<div class="datos">
				<div class="dataRegistro">
				<p> <label for="Nombre" ></label>
					<input type="text" placeholder="Nombre">
				</p>
				<p> <label for="Apellido" ></label>
					<input type="text" placeholder="Apellido">
				</p>
				<p> <label for="Nombre de Usuario" ></label>
					<input type="text" placeholder="Nombre de Usuario">
				</p>
				<p> <label for="Telefono"></label>
					<input type="tel" placeholder="Telefono">
				</p>
				<p> <label for="Email"></label>
					<input type="email" placeholder="Email">
				</p>
				<p> <label for="Contrase単a"></label>
					<input type="password" placeholder="Contrase単a">
				</p>
				<p> <label for="Confirmar Contrase単a"></label>
					<input type="password" placeholder="Confirmar Contrase単a">
				</p>
				</div>
				<div class="fotoRegistrado">
					<p> <label for="Imagen de perfil"></label>
						<input type="file" placeholder="URL de Imagen del perfil" accept="image/*">
					</p>
				</div>
				</div>
				<button type="submit">Crear Cuenta</button>
				
			</form>

	<%- include('./partials/footer')  %> 
